.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 40px;

    .about{
    
        &-title{
            @include text(24, 24px, $bold, $color-main, $sulphur);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: .5px;
        }
    
        &-text{
            @include text(20, 20px, $regular, $color-subtitle, $sulphur);
            letter-spacing: .5px;
            text-align: justify;
        }
    
        &-link{
            color: $color-subtitle;
            text-decoration: underline;
    
            &:hover{
                animation: links 2s infinite;
                text-decoration: underline;
            }
    
            &:focus, &:active, &:visited{
                color: $color-subtitle;
                outline: none;
                text-decoration: none;
            }
        }
    }
}
