.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: calc(100vh);
    background: url(../img/banner-full.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    &:hover{
        transform:  scale(1.05);
        -ms-transform: scale(1.05);
        -moz-transform:  scale(1.05);
        -webkit-transform:  scale(1.05);
        -o-transform:  scale(1.05);
        overflow: hidden;

        .banner-mask{
            background-color:rgba(0,0,0,.3);
        }
    }

    &-wrapper{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .container .row{
            align-items: center;
            justify-content: center;
        }
    }

    &-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out; 
    }

    &-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        width: 100%;
        max-width: 600px;
        height: auto;
        max-height: 400px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate3d(50%, -50%, 0);
    }

    &-title{
        @include text(24, 24px, $bold, $color-white, $sulphur);
        text-transform: uppercase;
        margin-bottom: 15px;
        text-shadow: 1px 1px $color-subtitle;
        letter-spacing: .5px;
    }

    &-subtitle{
        @include text(20, 20px, $bold, $color-white, $sulphur);
        text-shadow: 1px 1px $color-subtitle;
        text-align: center;
        letter-spacing: .5px;
    }

    &-icon{
        position: absolute;
        right: 50%;
        transform: translateX(-50%);
        animation: floatingArrow 2s infinite;
        z-index: 99;

        svg{
            width: 25px;
            height: 25px;

            path{
                fill: $color-white;
            }
        }

        @media(max-width: 992px){
            transform: translateX(50%);
        }
    }
}