.mask{

    &-active{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 10;

        .mask{
            height: 100%;
            width: 100%;
            background: rgba($color-main, .7);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
        }
    }
}