.modal-lang{
    width: 100%;
    max-width: 580px;
    height: auto;
    min-height: 450px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: $body-bg;
    border: 1px solid $color-main;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &-show{
        display: flex !important;
    }

    .modal-lang{

        &__title{
            @include text(38, 38px, $bold, $color-main, $sulphur);
            text-align: center;
            display: block;
        }

        &__subtitle{
            @include text(22, 22px, $bold, $color-main, $sulphur);
            text-align: center;
            display: block;
            margin: 20px 0;
        }

        &-item{

            &__title{
                @include text(34, 34px, $bold, $color-main, $sulphur);
                text-align: center;
                display: block;

                
                &--pt{
                    background: $br-bg;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }

                &--en{
                    background: $us-bg;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}