.nidi-logo{
    position: absolute;
    bottom: 0;
    left: 0;

    @media(max-width: 576px){
        position: initial;
        margin: 15px 0;
    }

    .nidi-logo{
        margin: 15px 0;

        &-link{

            svg{

                @media(max-width: 768px){
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}