.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 40px;

    .tools{

        &-title{
            @include text(24, 24px, $bold, $color-main, $sulphur);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: .5px;
        }

        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }

        &-img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 100px;
            height: auto;
            max-height: 100px;

            img{
                width: 80px;
                height: 80px;
            }
        }

        &-desc{
            @include text(20, 20px, $bold, $color-main, $sulphur);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: .5px;
        }
    }
}