.works{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 40px;

    .works{

        &-title{
            @include text(24, 24px, $bold, $color-main, $sulphur);
            text-transform: uppercase;
            margin-bottom: 30px;
            text-decoration: underline;
            letter-spacing: .5px;
        }

        &-subtitle{
            @include text(22, 30px, $bold, $color-subtitle, $sulphur);
            text-transform: uppercase;
            letter-spacing: .5px;
            text-align: center;
            margin-bottom: 10px;
            width: 100%;

            @media(max-width: 576px){
                @include text(18, 18px, $bold, $color-subtitle, $sulphur);
                display: block;
                margin-top: 25px;
            }
        }

        &-item{
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &:hover, &:focus, &:active, &:visited{
                outline: none !important;
                text-decoration: none !important;
            }

            @media(max-width: 768px){
                flex-flow: column;
            }
        }

        &-type{
            @include text(20, 20px, $bold, $color-subtitle, $sulphur);
            display: block;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 20px;
            letter-spacing: .5px;
        }

        &-text{
            @include text(18, 18px, $regular, $color-subtitle, $sulphur);
            letter-spacing: .5px;
            text-align: justify;
            display: block;
            margin-top: 15px;
        }

        &-description{
            @include text(16, 16px, $regular, $color-subtitle, $sulphur);
            letter-spacing: .5px;
            text-align: justify;
            display: block;
            margin-top: 15px;
        }

        &-details{

            &:hover, &:focus, &:active, &:visited{
                outline: none !important;
                text-decoration: none !important;
            }
        }

        &-platform{
            @include text(16, 16px, $regular, $color-subtitle, $sulphur);
            display: flex;
            align-items: center;
            margin-top: 15px;

            &-logo{

                svg{
                    width: 100px;
                    height: 35px;
                }
            }
        }

        &-link{
            @include text(18, 18px, $regular, $color-subtitle, $sulphur);
            letter-spacing: .5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-main;
            border-radius: 5px;
            padding: 10px;
            text-decoration: none;
            position: absolute;
            bottom: 0;
            right: 15px;
            overflow: hidden;
            transition: all .5s ease-in-out;

            @media(max-width: 576px){
                margin-top: 15px;
                position: initial;
            }

            @media(min-width: 1200px){

                &:hover{
                    text-decoration: none;
                    color: $body-bg;
                    border: 1px solid $body-bg;
    
                    &:before{
                        transform: translateX(0);
                    }
    
                    &:after{
                        transform: translateX(0);
                    }
                }

                &:before{
                    content: ' ';
                    width: 50%;
                    height: 100%;
                    background: $color-main;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-101%);
                    transition: all .5s ease-in-out;
                    z-index: -1;
                }
    
                &:after{
                    content: ' ';
                    width: 50%;
                    height: 100%;
                    background: $color-main;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(101%);
                    transition: all .5s ease-in-out;
                    z-index: -1;
                }
            }
        }

        &-screenshot{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            max-height: 900px;

            img{
                width: 100%;
                height: auto;
                max-height: 900px;
            }
        }

        &-carousel{

            &-js{
                width: 100%;
                position: relative;
            }

            &-icon{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;

                svg{
                    width: 30px;
                    height: 50px;

                    path{
                        fill: $color-main;
                    }
                }

                &-next{
                    right: 0;
                }

                &-prev{
                    left: 0;
                }
            }
        }
    }
}