@import '../assets/sass/mixins';
@import '../assets/sass/variables';

.about{
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    &__content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      max-width: 645px;
    }
    
    &__title{
      @include texts(24px, 24px, $regular, roboto, $color-text03);
      margin-bottom: 20px;
    }
    
    &__text{
        @include texts(18px, 18px, $medium, roboto, $color-text04);
        text-align: justify;
        text-align-last: center;
        a{
            @include texts(18px, 18px, $medium, roboto, $color-text04);
            animation: links 2s infinite;
            cursor: pointer;
        }
    }
}