@import '../assets/sass/mixins';
@import '../assets/sass/variables';

.tools{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    &--wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__content{
        display: flex;
        max-width: 645px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
      
    &__title{
        @include texts(24px, 24px, $regular, roboto, $color-text03);
        margin-top: 70px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
  
    &__text{
        @include texts(18px, 18px, $medium, roboto, $color-text04);
        text-align: center;
    }
  
    &__icon{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
        &-bs{
            width: 100px !important;
        }

        &--bootstrap{
            width: 90px;
        }
        
        img{
            width: 80px;
            height: 80px;
        }
    }
}