//Font weights

$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

//Text color

$color-text01: #fefefe;
$color-text02: #212121;
$color-text03: #333;
$color-text04: #787878;
$color-text05: #a8a8a8;
$color-text06: #fff;